
.currentConsumption {
    height:40vh ;
}

.temperature {
    height:40vh ;
}

.current {
    height:40vh ;
}

.alert {
    height:40vh ;
}

.avgTemperature {
    height:40vh ;
}

.temperatureTrend {
    height:40vh ;
}
